html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

button {
  text-decoration: none;
}

:root {
  --gray: #757575;
  --blue: #2196f3;
  --black: #212121;
  --white: #ffffff;
  --adress-footer: rgba(255, 255, 255, 0.6);
  --bcg-color: #2f303a;
  --bcg-btn: #f5f4fa;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  color: var(--gray);
}
.logo {
  text-decoration: none;
  font-weight: bold;
  font-family: Raleway;

  font-size: 26px;
  color: var(--black);
}
.logo-web {
  color: var(--blue);
}

.logo-footer {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  font-family: Raleway;
}

.header-nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--black);
}

.header-nav:hover {
  color: var(--blue);
}

.header-contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--gray);
}

.header-contacts:hover {
  color: var(--blue);
}

.section-one {
  background-color: var(--bcg-color);
}

.section-one-h {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.btm-one {
  background-color: var(--blue);
  border-radius: 4px;
}

.btm-one-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white);
}

.section-two-h {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
}

.section-three-h {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
}

.comand {
  background-color: var(--bcg-btn);
}

.comand-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
}

.comand-prof {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray);
}

.contacts {
  background-color: var(--bcg-color);
}

.contacts-adress {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white);
}

.contacts-footer {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--adress-footer);
}

.portfolio-btn {
  background-color: var(--bcg-btn);
  border-radius: 4px;
}

.portfolio-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
}

.portfolio-btn-text:hover {
  color: var(--white);
}

.portfolio-btn:hover {
  background-color: var(--blue);
}

.portfolio-h {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--gray);
}
